<div class='board'>
	<!-- Top Left --><!--
	--><div class='coord' ng-click='A1()'></div>
	<!-- Top Middle --><!--
	--><div class='coord'></div>
	<!-- Top Right --><!--
	--><div class='coord'></div>
	<!-- Middle Left --><!--
	--><div class='coord'></div>
	<!-- Middle Middle --><!--
	--><div class='coord'></div>
	<!-- Middle Right --><!--
	--><div class='coord'></div>
	<!-- Bottom Left --><!--
	--><div class='coord'></div>
	<!-- Bottom Middle --><!--
	--><div class='coord'></div>
	<!-- Bottom Right --><!--
	--><div class='coord'></div>
</div>
